<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tham gia trò chơi Caro</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="container">
    <h1>Tham gia trò chơi Caro</h1>
    <form id="joinGameForm">
        <label for="player">Nhập tên của bạn</label>
        <input type="text" id="player" placeholder="Nhập tên" required>
        <label for="roomId">Nhập ID phòng chơi:</label>
        <input type="text" id="roomId" placeholder="Nhập ID phòng" required>
        <button type="submit">Tham gia</button>
    </form>
</div>
</body>
</html>
